@media screen and (max-width: 992px){
    .hero__allan{
      font-size: 150px;
    }
    /* .header__list{
        display: flex;
        flex-direction: row;
    }
    .header__item{

    } */
    /* .header__nav{
      position: fixed;
      top: 0;
      right: -150%;
      width: 80%;
      min-height: 100vh;
      background-color: #EA4343;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 500;
      transition: all ease 0.5s;
    } */
    .about__img{
        width: 100%;
    }
    /* .header__menu{
        display: block;
    }
    .header__list{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    } */
}

.show{
    right: 0px;
  }

@media screen and (max-width: 762px){
    .hero__allan{
      font-size: 150px;
    }
    .header__nav{
      position: fixed;
      top: 0;
      right: -150%;
      width: 80%;
      min-height: 100vh;
      background-color: #EA4343;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 500;
      transition: all ease 0.5s;
    }
    .header__item a{
      font-size: 50px;
    }
    .header__menu{
      display: block;
    }
    .header__list{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
    .about__img{
        width: 100%;
    }
  }
  .show{
    right: 0px;
  }
  
  @media screen and (max-width: 576px){
    .container{
          padding: 0 10px;
      }
    .header__menu{
        margin-right: 20px;
    }
    .hero__allan{
      font-size: 120px;
    }
    .header__item a{
        font-size: 30px;
    }
    .header__item{
        margin-bottom: 20px;
    }
    .hero__socials{
        display: none;
    }
    .hero__img{
        height: 30%;
    }
    .hero__works{
        min-height: 170px;
    }
    .hero__title{
        font-size: 35px;
    }
    .about__main{
        
    }
    .about__desc{
        /* width: 2%; */
    }
    .about__img{
        display: none;
    }

  }
  .show{
    right: 0px;
  }
  