@media screen and (max-width: 992px){
    .hero__allan{
      font-size: 150px;
    }
    /* .header__list{
        display: flex;
        flex-direction: row;
    }
    .header__item{

    } */
    /* .header__nav{
      position: fixed;
      top: 0;
      right: -150%;
      width: 80%;
      min-height: 100vh;
      background-color: #EA4343;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 500;
      transition: all ease 0.5s;
    } */
    .about__img{
        width: 100%;
    }
    /* .header__menu{
        display: block;
    }
    .header__list{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    } */
}

.show{
    right: 0px;
  }

@media screen and (max-width: 762px){
    .hero{
        padding: 100px 10px 0px 15px;
    }
    .hero__allan{
      font-size: 100px;
    }
    .header__nav{
      position: fixed;
      top: 0;
      right: -150%;
      width: 60%;
      min-height: 100vh;
      background-color: #ea4343bd;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 500;
      transition: all ease 0.5s;
    }
    .header__item a{
      font-size: 50px;
      margin-bottom: 20px;
    }
    .header__menu{
      display: block;
    }
    .header__list{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
    .about__desc{
        width: 80%;
    }
    .about__img{
        display: none;
    }
  }
  .show{
    right: 0px;
  }
  
  @media screen and (max-width: 576px){
    .container{
          padding: 0 10px;
    }
    .header__menu{
        margin-right: 20px;
    }
    .hero__allan{
      font-size: 70px;
    }
    .header__item a{
        font-size: 30px;
    }
    .header__item{
        margin-bottom: 20px;
    }
    .hero__socials{
        display: none;
    }
    .hero__img{
        height: 30%;
    }
    .hero__works{
        min-height: 170px;
    }
    .hero__title{
        font-size: 35px;
    }
    .about__main{
        flex-direction: column;
    }
    .about__desc{
        width: 80%;
    }
    .about__img{
        display: none;
    }
    .skill__main{
        flex-direction: column;
    }
    .skill__desc{
        text-align: center;
    }
    .skill__language{
    
    }
    .skill__text{

    }
    .language__item{
        position: absolute;
        animation: box 1000s linear infinite;
    }
    @keyframes box {
        0% {
          transform: rotateY(0deg);
        }
        50% {
          transform: rotateY(360deg);
        }
        100% {
          transform: rotateY(0deg);
        }
      }

  }
  .show{
    right: 0px;
  }
  